{% extends 'base/layout.html'%}

{% block content %}
<h1 style="text-align: center"></style>Library Checkout</h1>

    <p class="text-danger">{{msg}}</p> 
<div class="row">

    <div class="col"></div>
    <div class="col">
        {% if forms %}
         <form action="" method="POST">
            {% csrf_token %}
            {% for field in forms %}
           
            <div class="form-group">
                {{field}}
            </div>
            
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary">
            
         </form>
        {% else %}
        <p class="text-danger">No forms found</p>
        {% endif %}
     
    </div>
    <div class="col"></div>
</div>

{% endblock %}